@using EPiServer.Editor
@model Kristianstad.Business.Models.Blocks.Compare.ContactBlock

<div class="row">
    <div class="small-4 columns">
        <a href="mailto:@Url.ContentUrl(Model.Email)">@Url.ContentUrl(Model.Name)</a>
    </div>
    <div class="small-4 columns">
        @Html.PropertyFor(x => x.Title)
    </div>
    <div class="small-4 columns">
        @Html.PropertyFor(x => x.Phone)
    </div>
</div>