@model Kristianstad.Business.Models.Blocks.Compare.ContactBlock

Index.html!!
<div class="row">
    <div class="small-3 columns">
        @Html.PropertyFor(x => x.Title)
    </div>
    <div class="small-3 columns">
        @Html.PropertyFor(x => x.Name)
    </div>
    <div class="small-3 columns">
        @Html.PropertyFor(x => x.Phone)
    </div>
    <div class="small-3 columns">
        @Html.PropertyFor(x => x.Email)
    </div>
</div>