@using Kristianstad.ViewModels.Compare

@model OrganisationalUnitListModel


@if (Model.OrganisationalUnits.Count > 0)
{
    foreach (var organisationalUnit in Model.OrganisationalUnits)
    {
        <div class="column small-12 medium-12 large-10 content-organisationalUnit content">
            @Html.Action("Preview", "OrganisationalUnit", new { currentPage = organisationalUnit.CurrentPage, organisationalUnitModel = Model })
        </div>
        <div class="column content-organisationalUnit right-content small-12 medium-12 large-2">

            @{
                string redirectBackTo = organisationalUnit.CurrentPage != null ? Url.Encode(Model.CurrentPage.LinkURL) : "";
            }

            @if (organisationalUnit.InCompareAlready)
            {
                <a class="button alert" href="@string.Format("{0}{1}/RemoveOrganisationalUnitFromCompare/?id={2}&redirectBackTo={3}", organisationalUnit.CurrentPage.ExternalURL, organisationalUnit.CurrentPage.URLSegment, organisationalUnit.CurrentPage.ContentLink.ID, redirectBackTo)">
                    Ta bort
                </a>
            }
            else
            {
                <a class="button" href="@string.Format("{0}{1}/AddOrganisationalUnitToCompare/?id={2}&redirectBackTo={3}", organisationalUnit.CurrentPage.ExternalURL, organisationalUnit.CurrentPage.URLSegment, organisationalUnit.CurrentPage.ContentLink.ID, redirectBackTo)">
                    Jämför
                </a>
            }
        
        </div>
    }
}
else 
{
    <p>Inga aktörer i kategorin</p>
}