@using Kristianstad.ViewModels.Compare

@model OrganisationalUnitListModel
@*
        <h2>
           Model.Heading

    </h2> 
    *@
<hr />

@foreach(var page in Model.OrganisationalUnits)
{
    @Html.Action("Preview", "OrganisationalUnit", new { currentPage = page , organisationalUnitModel = Model})
}