<?xml version="1.0" encoding="utf-8"?>
<module>
  <!--<assemblies>
    <add assembly="EPiCore.Content.Find" />
    <add assembly="EPiCore.Content" />
    <add assembly="EPiCore" />
  </assemblies>-->
  <clientResources>
    <add name="epi-cms.widgets.base" path="./../Static/css/episerverui.css" resourceType="Style" />
  </clientResources>
</module>
