<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings configSource="Config\Acceptance\connectionStrings.config" xdt:Transform="Replace" />
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.net>
    <mailSettings>
      <smtp configSource="Config\Acceptance\smtp.config" xdt:Transform="Replace" />
    </mailSettings>
  </system.net>
  <episerver.framework>
    <licensing licenseFilePath="Config\Acceptance\License.config" xdt:Transform="SetAttributes" />
  </episerver.framework>
  <episerver.find configSource="Config\Acceptance\episerver.find.config" xdt:Transform="SetAttributes" />
</configuration>