
.accordion-title {
    font-size: 0.9rem;
}

input.small {
    font-size: 12px;

}

.editor-only-element {
    border: 2px solid #0094ff;
    border-radius: 2px;
    margin-top: 30px;
    padding: 5px;
}
.editor-only-element table tbody td {
    padding: 0.3rem 0.4rem 0.4rem;
}
.editor-only-element table input {
    margin-bottom: 0;
}

.compare-main-box {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.compare-main-box th, .compare-main-box td {
    
	padding: .5em 1em;
}

.compare-main-box td {
    text-align: left;
    /* font-size: 85%; */
}

.compare-main-box .query {
    text-align: right;
    /* font-weight: bold; */
    margin-right: 10px;
    min-width: 230px;
    max-width: 230px;
    white-space: normal;
}

.compare-main-box .result {
    min-width: 230px;
    max-width: 230px;
}

.compare-main-box td img {
    height: 100px;
}

.noValue {
    font-style: italic;
}

.row.margined-row {
    margin-bottom: 15px;
}

.answer-percent-bar {
    display:inline-block;
    vertical-align: middle;
}

.percentageBox {
    display: inline-block;
    width:80px;
    height:10px;
    border: 1px solid silver;
    box-shadow: 1px 1px 1px #cfcfcf;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.percentage {
    display: block;
    vertical-align: top;
    height: 8px;
    background: #8ec1ff;
}

.percentageValue {
    margin-left: 10px;
    display: inline-block;
}

.white-box {
    background-color: white;
}

.listResult img {
    height: 100px;
    padding: 10px;
    padding-bottom: 20px;
}

.content-organisationalUnit a {
    margin-top: 50px;
}

.address-distance-toggle {
    display: none;
}