// Off canvas
// ---------------------------

$guide-left-off-canvas-menu-bg-color: white;
$guide-off-canvas-list-link-color: rgba(black, .7);
$guide-off-canvas-list-link-hover-color: rgba(black, .1);
$guide-off-canvas-list-link-active-bg: #065692;
$guide-off-canvas-list-link-active-color: white;

// Tab bar
// ---------------------------

$guide-tab-bar-bg-color: white;
$guide-tab-bar-font-color: #065692;