//  Foundation for Sites Settings
//  -----------------------------


// Fonts
// -----------------------

$OpenSansPath: "../font/opensans" !default;
$fa-font-path: "../font/font-awesome" !default;


// Cookie notice
// -----------------------

/*$cookie-notice-bg-color: $color-red !default;
$cookie-notice-font-color: $white !default;
$cookie-notice-font-link-color: $white !default;*/

// Header
// ----------------------

/*$header-bg-color: $white !default;*/

// Main menu
// ----------------------

/*$main-menu-link-font-size: rem-calc(12px) !default;
$main-menu-link-bg-active: $color-red-light !default;
$main-menu-link-bg-hover: #242424 !default;
$main-menu-link-font-color: $white !default;
$main-menu-bg-color: $oil !default;
$main-menu-label-bg-color: $main-menu-bg-color;*/

// Footer
// ----------------------

/*$footer-bg-color: $oil !default;
$footer-font-color: $white !default;
$footer-font-link-color: $white !default;*/


// Main Header
// -----------

$main-header-background-color: $white !default;
$main-header-border-bottom-color: $primary-color !default;
$main-header-height: rem-calc(80) !default;

// Main Top bar
// ------------

$main-top-bar-background-color: $primary-color !default;

// Mobile Menu
// -----------

$mobile-menu-background-color: $primary-color !default;
$mobile-menu-max-levels: 5 !default;

// Side Menu

$side-menu-background-color: $white !default;
$side-menu-header-background-color: $primary-color !default;
$side-menu-header-color: $white !default;
$side-menu-color: #414040 !default;


