@using Kristianstad.ViewModels.Compare

@model CategoryListModel

@if (Model.Categories.Count > 0)
{
    foreach (var page in Model.Categories)
    {
        @Html.Action("Preview", "Category", new { currentPage = page, categoryListModel = Model })
    }
}
else 
{
    <p>Inga kategorier</p>
}