
.epicore-breadcrumbs {
    .breadcrumbs {
        background-color: $white;
        border: none;
    }
}


header.page-header {

}

header.page-footer {

}

section.page-content {

}



/*.page {
    .main {
        header {
            

            h1 {
                padding-bottom: rem-calc(20px);
                border-bottom: rem-calc(1px) solid lighten($aluminum, 30%);
            }
        }

        .preamble {
            p {
                font-weight: bold;
                color: darken($aluminum, 20%);
            }
        }

        .content {

        }

        footer {
            .info {
                font-size: rem-calc(13px);
            }

            .feedback {
                form {
                    .row .columns:not(.error) {
                        small.error {
                            display: none;
                        }
                    }
                    max-width: 400px;
                }
            }
        }
    }
}*/