<?xml version="1.0"?>
<connectionStrings>
  <add name="EPiServerDB" connectionString="Data Source=SQL2012DMZ;Initial Catalog=Kristianstad_se_test;User ID=dbuserKristianstad_se;Password=Kr1st2015;Integrated Security=False;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>
