<div class="content-block row">
    <div class="block-image column small-12 medium-4">
        <img src="/Static/img/template/img-puff.jpg" alt="">
    </div>
    <div class="block-content column small-12 medium-8">
        <h2>Puffrubrik</h2>
        <p>
            Rit nis ea que nem que laborrum ut odit volum dem.
            Ebit aut od et repudignit, nobit ipid modignatem qui
            quaestis et ut et ommolut et aceptatis etur si cohilit
            quiberum quo doluptius dolorent aut rectatiistin enda necus,
            audignihiti dolores sunt, seque laboria nditat.
        </p>
    </div>
</div>