<footer class="main-footer">

    <nav class="row footer-nav">
        <section class="column small-12 large-4">
            <div class="icon find-fast"></div>
            <h1>Hitta snabbt</h1>
            <ul class="vertical menu">
                <li><a href="#">Hitta politiker</a></li>
                <li><a href="#">Kristianstads kommun A-Ö</a></li>
                <li><a href="#">Turist</a></li>
                <li><a href="#">Företagare</a></li>
                <li><a href="#">International</a></li>
                <li><a href="#">Kristianstad växer</a></li>
                <li><a href="#">Kalendarium</a></li>
            </ul>
        </section>
        <section class="column small-12 large-4">
            <div class="icon more-about"></div>
            <h1>Mer om kommunen</h1>
            <ul class="vertical menu">
                <li><a href="#">Alla e-tjänster</a></li>
                <li><a href="#">Karta</a></li>
                <li><a href="#">Jämför service</a></li>
                <li><a href="#">Blanketter A-Ö</a></li>
                <li><a href="#">Utvecklingen</a></li>
                <li><a href="#">Om webbplatsen</a></li>
                <li><a href="#">Cookies</a></li>
            </ul>
        </section>
        <section class="column small-12 large-4">
            <div class="icon contact-us"></div>
            <h1>Kontakt</h1>
            <ul class="vertical menu">
                <li><a href="#">Gör felanmälan</a></li>
                <li><a href="#">Anmäl enkelt avhjälpta hinder</a></li>
                <li><a href="#">Synpunkter och klagomål</a></li>
                <li><a href="#">Växelnummer och e-postadresser</a></li>
                <li><a href="#">Hitta alla verksamheter</a></li>
                <li><a href="#">Press</a></li>
            </ul>
        </section>
    </nav>

    <section class="column row social">
        <ul class="horizontal menu">
            <li>
                <a target="_blank" href="https://www.facebook.com/kristianstadskommun/" title="Facebook" class="icon facebook"></a>
            </li>
            <li>
                <a target="_blank" href="https://twitter.com/krstdkommun" title="Twitter" class="icon twitter"></a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/company/kristianstads-kommun" title="LinkedIn" class="icon linkedin"></a>
            </li>
            <li>
                <a target="_blank" href="https://www.flickr.com/photos/kristianstadskommun/" title="Flickr" class="icon flickr"></a>
            </li>
            <li>
                <a target="_blank" href="http://www.youtube.com/kristianstadskommun" title="Youtube" class="icon youtube"></a>
            </li>
        </ul>
    </section>

    <section class="row contact-details">
        <address class="column small-12 medium-8 medium-centered">
            <strong>Kristianstads kommun</strong> | 291 80 Kristianstad | 044–13 50 00 | Organisationsnummer 212000–0951<br />
            Ansvarig utgivare Informationschef Eva Mårtensson | E-post: <a href="mailto:kommun@kristianstad.se">kommun@kristianstad.se</a>
        </address>
    </section>

</footer>