<nav class="mega-menu">
    <div class="section-wrapper">

        <div class="menu-information"><p>Klicka på det huvudområde du vill hitta information om:</p></div>

        <ul class="tabs" data-tabs id="menu-sections">
            <!--Use section page ID as href-->
            <li class="tabs-title"><h3><a href="#panel1" aria-selected="true"><span class="education"></span>Utbildning och barnomsorg</a></h3></li>
            <li class="tabs-title"><h3><a href="#panel2"><span class="caretake"></span>Omsorg och hjälp</a></h3></li>
            <li class="tabs-title"><h3><a href="#panel3"><span class="explore"></span>Uppleva och göra</a></h3></li>
            <li class="tabs-title"><h3><a href="#panel4"><span class="live"></span>Bygga, bo och miljö</a></h3></li>
            <li class="tabs-title"><h3><a href="#panel5"><span class="travel"></span>Trafik och resor</a></h3></li>
            <li class="tabs-title"><h3><a href="#panel6"><span class="work"></span>Näringsliv och arbete</a></h3></li>
            <li class="tabs-title"><h3><a href="#panel7"><span class="politics"></span>Kommun och politik</a></h3></li>
        </ul>

        <div class="tabs-content" data-tabs-content="menu-sections">
            <!--Use section page ID for id-->
            <div class="tabs-panel" id="panel1">
                <h2>Utbildning och barnomsorg</h2>
                <ul class="row no-bullet small-up-1 medium-up-3 large-up-4">
                    <!--Link list section-->
                    <li class="column link-list">
                        <div>
                            <h3>Hitta snabbt</h3>
                            <ul>
                                <li>
                                    <a href="#">Tyck till om stadens service</a>
                                </li>
                                <li>
                                    <a href="#">Anhörig och närstående</a>
                                </li>
                                <li>
                                    <a href="#">Hemtjänst</a>
                                </li>
                                <li>
                                    <a href="#">Vård- och omsorgsboende</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Akut hjälp</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Trygg och säker</h3>
                            <p>Li incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Ekonomi socialbidrag</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Trygg och säker</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Hitta snabbt</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Akut hjälp</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column compressed">
                        <div>
                            <a href="#">Folkhälsoarbete</a>
                            <a href="#">Gifta sig, partneskap</a>
                            <a href="#">Gå till sidan</a>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="tabs-panel" id="panel2">
                <h2>Omsorg och hjälp</h2>
                <ul class="row no-bullet small-up-1 medium-up-3 large-up-4">
                    <li class="column link-list">
                        <div>
                            <h3>Hitta snabbt</h3>
                            <ul>
                                <li>
                                    <a href="#">Tyck till om stadens service</a>
                                </li>
                                <li>
                                    <a href="#">Anhörig och närstående</a>
                                </li>
                                <li>
                                    <a href="#">Hemtjänst</a>
                                </li>
                                <li>
                                    <a href="#">Vård- och omsorgsboende</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Trygg och säker</h3>
                            <p>Li incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Akut hjälp</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Trygg och säker</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Ekonomi socialbidrag</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Hitta snabbt</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Akut hjälp</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                    <li class="column">
                        <div>
                            <h3>Ekonomi socialbidrag</h3>
                            <p>Lit ipissin ctatur? Rehenda comni ant untore et incideb itaspis et ad quatem ipsus re sunto berum.</p>
                            <a href="#">Gå till sidan</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>