
<nav class="column row small-12 small-centered kr-mobile-menu">
    <div class="mobile-search">
        <form>
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Skriv in sökord...">
                <div class="input-group-button">
                    <input type="submit" class="button success" value="">
                </div>
            </div>
        </form>
    </div>

    <ul class="vertical menu site-nav">
        <li>
            <a href="">Utbildning och barnomsorg</a>
        </li>
        <li class="has-children open">
            <a href="">Omsorg och hjälp</a><a class="toggle open"></a>
            <ul class="menu vertical">
                <li>
                    <a href="">Bygga, bo och miljö</a>
                </li>
                <li>
                    <a href="">Uppleva och göra</a>
                </li>
                <li class="has-children open">
                    <a href="">Omsorg och hjälp</a><a class="toggle open"></a>
                    <ul class="menu vertical">
                        <li>
                            <a href="">Längre titel</a>
                        </li>
                        <li class="current">
                            <a href="">Längre än titel</a>
                        </li>
                        <li class="has-children open">
                            <a href="">Längreibland  titel</a>
                            <ul class="menu vertical">
                                <li>
                                    <a href="">Längre titel</a>
                                </li>
                                <li>
                                    <a href="">Längre än titel</a>
                                </li>
                                <li>
                                    <a href="">Längreibland  titel</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="">Uppleva och göra</a></li>
        <li><a href="">Bygga, bo och miljö</a></li>
    </ul>

    <ul class="vertical menu help-links">
        <li><a class="translate" href="#">Translate</a></li>
        <li><a class="customize" href="#">Anpassa</a></li>
        <li><a class="services" href="#">E-tjänster</a></li>
        <li><a class="contact" href="#">Kontakta</a></li>
    </ul>


</nav>