

<nav class="section-menu">
    <h4>Kommun och politik</h4>
    <ul>
        <li><a href="#">Kommunfakta</a></li>
        <li class="has-children"><a href="#">Kommunens organisation</a></li>
        <li class="has-children"><a href="#">Politik och Demokrati</a></li>
        <li class="has-children open">
            <a href="#">Ärenden och handlingar</a>
            <ul>
                <li class="has-children open">
                    <a href="#">Diarium och arkiv</a>
                    <ul>
                        <li class="has-children open">
                            <a href="#">Hur kan du använda diariet?</a>
                            <ul>
                                <li><a href="#">Mänskliga rättigheter</a></li>
                                <li class="has-children open">
                                    <a href="#">Regler för sekretess</a>
                                    <ul>
                                        <li class="has-children open">
                                            <a href="#">Mänskliga rättigheter</a>
                                            <ul>
                                                <li><a href="#">Mänskliga rättigheter</a></li>
                                                <li class="has-children open">
                                                    <a href="#">Ej öppen</a>
                                                    <ul>
                                                        <li><a href="#">Mänskliga rättigheter</a></li>
                                                        <li class="current">
                                                            <a href="#">Regler för sekretess</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Regler för sekretess</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Regler för sekretess</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Överklaga beslut, rättssäkerhet</a></li>
        <li><a href="#">Jämför service, kvalitet i verksamheter</a></li>
        <li><a href="#">Mänskliga rättigheter</a></li>
        <li><a href="#">Nationella minoriteter</a></li>
        <li><a href="#">Internationellt arbete</a></li>
        <li><a href="#">Press- och informationsmaterial</a></li>
    </ul>
</nav>