<p>I lagen finns regler för att skydda bl.a. följande uppgifter:</p>
<ul>
    <li>Rikets säkerhet eller dess förhållanden till annan stat eller mellanfolklig organisation</li>
    <li>Rikets centrala finanspolitik, penningpolitik eller valutapolitik</li>
    <li>Myndighets verksamhet för inspektion, kontroll och annan tillsyn</li>
    <li>Intresset att förebygga eller beivra brott</li>
    <li>Det allmännas ekonomiska intresse</li>
    <li>Enskilds personliga och ekonomiska förhållanden</li>
</ul>
<h2>Mer information</h2>
<p>Vill du ta del av lagtexter som reglerar den offentliga verksamheten<br /> kan du besöka riksdagens webbplats, <a href="http://www.riksdagen.se" target="_blank">www.riksdagen.se</a></p>
<p>
    I diariet här på webbplatsen är vissa ärenden sekretessbelagda. Vi kan inte sekretessbelägga en handling för all framtid. Sekretess ska bedömas varje gång någon begär att få ta del
    av en han-dling. Det innebär att även om en handling har sekretessbelagts i vårt diarium på nätet så kan du kontakta respektive registrator och få en särskild sekretessbedömning gjord
    för just ditt fall. På nätet måste vi vara extra strikta i tillämpningen.
</p>