<header class="top-bar main-top-bar trans">
    <div class="top-bar-left">
        <a href="#">
            <img class="trans" src="/Static/img/icons/logo-kristianstadskommun.svg" alt="">
        </a>
    </div>
    <div class="top-bar-search">
        <form>
            <div class="input-group">
                <input class="input-group-field" type="text" placeholder="Skriv in sökord...">
                <div class="input-group-button">
                    <input type="submit" class="button success" value="Sök">
                </div>
            </div>
        </form>
    </div>
    <div class="top-bar-right">
        <ul class="header-links trans">
            <li class="header-translate"><a href="#">Translate</a></li>
            <li class="header-customize"><a href="#">Anpassa</a></li>
            <li class="header-services"><a href="#">E-tjänster</a></li>
            <li class="header-contact"><a href="#">Kontakta</a></li>
        </ul>
        <a class="mega-menu-button trans" role="button">
            <div class="menu-hamburger">
                <span></span>
            </div>
            <div class="menu-button-text">
                <span class="open trans">Meny</span>
                <span class="close trans">Stäng</span>
            </div>
        </a>
    </div>
</header>