@using EPiServer.Core
@using EPiServer.Editor
@using Kristianstad.ViewModels.Compare

@model OrganisationalUnitPageModel

 <div class="listResult">
    <h3>
        @Html.PageLink(Model.CurrentPage)
    </h3>
     
    <div>
        <div class="pull-left">
            @if (Model.CurrentPage.TitleImage != null)
            {
                <img src="@Url.ContentUrl(Model.CurrentPage.TitleImage)" />
            }
            else
            {
                <img src="~/Content/img/template/img-innehallssida.jpg" />
            }
        </div>

        @Html.DisplayFor(x => x.CurrentPage.ShortDescription)
    
        <span class="clearfix"></span>
    </div>

     @if (Model.CurrentPage.Address != null)
     {
        <div class="clearfix address-distance-toggle">
            Avstånd:
            <span class="address-distance" data-address="@Model.CurrentPage.Address"></span>
            km
        </div>
     }


    <hr />

</div>