{% extends "core/site/shared/_layout.html" %}

{% block body %}

<div class="row" style="margin-top: 30px;">
    <div class="columns small-12 medium-8">
        <ul class="small-block-grid-1 medium-block-grid-1 large-block-grid-2 news-list">
            <li>
                <article class="row">
                    <section class="columns large-12">
                        <h3>News content header</h3>
                        <p>Donec eget libero rhoncus, tempus erat eget, hendrerit orci. Morbi dapibus sapien id tellus pharetra lobortis in sed tellus. Praesent sapien ipsum, aliquam non ullamcorper a, tempor at odio. Mauris at urna vel leo semper egestas. Quisque varius ante sed ante ultricies consequat.</p>
                    </section>
                </article>
            </li>

            <li>
                <article class="row">
                    <section class="columns large-12">
                        <h3>News content header</h3>
                        <p>Donec eget libero rhoncus, tempus erat eget, hendrerit orci. Morbi dapibus sapien id tellus pharetra lobortis in sed tellus. Praesent sapien ipsum, aliquam non ullamcorper a, tempor at odio. Mauris at urna vel leo semper egestas. Quisque varius ante sed ante ultricies consequat.</p>
                    </section>
                </article>
            </li>

            <li>
                <article class="row">
                    <section class="columns large-12">
                        <h3>News content header</h3>
                        <p>Donec eget libero rhoncus, tempus erat eget, hendrerit orci. Morbi dapibus sapien id tellus pharetra lobortis in sed tellus. Praesent sapien ipsum, aliquam non ullamcorper a, tempor at odio. Mauris at urna vel leo semper egestas. Quisque varius ante sed ante ultricies consequat.</p>
                    </section>
                </article>
            </li>

            <li>
                <article class="row">
                    <section class="columns large-12">
                        <h3>News content header</h3>
                        <p>Donec eget libero rhoncus, tempus erat eget, hendrerit orci. Morbi dapibus sapien id tellus pharetra lobortis in sed tellus. Praesent sapien ipsum, aliquam non ullamcorper a, tempor at odio. Mauris at urna vel leo semper egestas. Quisque varius ante sed ante ultricies consequat.</p>
                    </section>
                </article>
            </li>
        </ul>
    </div>
    <div class="columns medium-4">
        {% include "core/site/shared/_side-menu.html" %}
    </div>
</div>

{% endblock %}
