@using EPiServer.Core
@using EPiServer.Editor
@using EPiServer.Web.Mvc.Html
@using Kristianstad.ViewModels.Compare

@model CategoryPageModel

<div class="span8 clearfix">
    <div @Html.EditAttributes("OrganisationalUnitList")>

        @Html.PropertyFor(x => x.CurrentPage.OrganisationalUnitList)
        
    </div>
</div>

<div class="span8 clearfix" @Html.EditAttributes(x => x.MainBody)>
    @Html.DisplayFor(x => x.MainBody)
</div>
