@using Kristianstad.Models.Pages
@using EPiServer.Core
@using EPiServer.Editor
@using Kristianstad.ViewModels.Compare

@model CategoryPageModel

<h3>
    @Html.PageLink(Model.CurrentPage)
</h3>
<hr />